alabaster==0.7.10
appdirs==1.4.3
Babel==2.4.0
cycler==0.10.0
dateparser==0.6.0
docutils==0.13.1
functools32==3.2.3.post2
imagesize==0.7.1
Jinja2==2.9.6
jsonschema==2.6.0
mando==0.5
MarkupSafe==1.0
matplotlib==2.0.0
numpy==1.12.1
packaging==16.8
pandas==0.19.2
Pint==0.18
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
regex==2017.4.5
requests==2.20.0
rst2ansi==0.1.5
ruamel.ordereddict==0.4.9
ruamel.yaml==0.14.8
scipy==0.19.0
Shapely==1.5.17.post1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
subprocess32==3.2.7
swmmtoolbox==1.0.5.8
typing==3.6.1
tzlocal==1.4
